<div class="example-container">

  <mat-form-field>
    <input name = "email" [(ngModel)] = "email" matInput placeholder="enter your email">
  </mat-form-field>
 
  <mat-form-field>
    <input name = "password" [(ngModel)] = "password"  matInput placeholder="enter your password">
  </mat-form-field>

</div>

<div>
<button (click) = "login()">login</button>
</div>
<br>
<div> 
<button (click) = "googleLogin()" mat-flat-button color="warn">google login</button>
</div>