<mat-card>
  <h1>Welcome: {{namefromurl}}</h1>
  <div *ngIf = "Auth.user | async"> 
    assync pipe use : {{(Auth.user | async)?.displayName}}
  </div>
  
   
  <mat-form-field>
    <input name = "todo" [(ngModel)] = "todo"  matInput placeholder="Add todo">
  </mat-form-field>
  <button (click) = "addTodo()">add todo</button>
  
  <app-todo *ngFor ="let todo of todosfilter" [data] = "todo"> </app-todo>
  </mat-card>
  
  
  <mat-form-field>
    <mat-select (selectionChange) = "filterclient()" placeholder="Favorite food" [(ngModel)]="kindfilter" name="kindfilter">
      <mat-option *ngFor="let fil of filter" [value]="fil.value">
        {{fil.text}}
      </mat-option>
    </mat-select>
  </mat-form-field>