<li (mouseenter) ="show()" (mouseleave) = "notshow()"> 
  <span *ngIf = "!show2" (click) = "formshow()">  
    {{text}}
  </span> 
  <div *ngIf = "show2"> 
  <mat-form-field>
    <input name = "text" [(ngModel)] = "text"  matInput placeholder="Add todo">
  </mat-form-field>
  <button (click) = "cancel()">cancel</button>
  <button (click) = "saveTodo()">save todo</button>
  </div>
  
   <mat-checkbox class="example-margin" (change) = "checkboxclicked()" [(ngModel)]="done">Checked</mat-checkbox>
  
  
  <button *ngIf ="show1"  (click) ="delete()">Delete</button>
  </li>